* {
    /* outline: solid red 1px; */
}
body {
    background-color: lightgray;
    font-family: Roboto, sans-serif;
}
.container {
    display: flex;
    width: 50%;
    background-color: white;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.bang-icon button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    font-size: 26px;
    color: royalblue;
    border: none;
}
.content p, .content h3{
    margin-top: 0px;
    margin-bottom: 8px;
}
.close-icon button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}
.continue-btn {
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 15%;
}
.close-btn {
    color: royalblue;
    padding: 8px;
    border-radius: 15%;
}