/* * {
    outline: red 2px solid;
    font-family: cursive;
} */

.logo {
   font-weight: bold;
   font-size: 35px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    margin: 0;
    align-items: center;
}
li {
    font-size: 20px;
    /* padding: 14px; */
    align-items: center;
    font-family: cursive;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
}

.left-header {
    
    margin-right: auto;
}

.right-header {
    margin-left: auto;
    display: flex;
}
button {
    background-color: purple;
    color: white;
    border-radius: 10px;
}
.left-header ul {
    color: purple;
}