* {
    /* outline: red 1px solid; */
}

ul {
    /* removes bullets from list items */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}

li {
    display: inline;
    margin: 8px;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #eeeeee;
}

.body {
    text-align: center;
    margin: 100px;
}

.odin-image {
    width: 600px;
}

button {
    margin: 10px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}