* {
    /* outline: solid red 3px; */
}
img {
    display: block;
    width: 90px;
    height: auto;
    margin: auto;
}
p {
    text-align: center;
}
.info-section {
    display: flex;
    /* gap: 5%; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-card {
    width: 20%;
}
.title {
    text-align: center;
}